@reference "#tailwind.css";

.layout {
    /* 设置全局背景图片 */
    @apply bg-fixed bg-cover bg-no-repeat bg-center min-h-full w-full flex p-0 m-0 flex-col
    bg-[url(../styles/images/bg-light.png)] 
    bg-fixed bg-cover bg-no-repeat bg-center;
}
