@reference "#tailwind.css";

.desktopToc {
    @apply w-56 flex-shrink-0 sticky top-16 self-start;
}

.mobileToc {
    @apply fixed flex items-center right-0 top-16 z-10 top-[30%] overflow-hidden 
    transition-transform duration-300 ease-out;

    & > .mobileTocButton > span > svg {
        filter: drop-shadow(1px 2px 1px rgb(144 130 130 / 40%));
    }

    & > .mobileTocMain {
        @apply h-full w-56 bg-[rgb(255_255_255/0.8)]  backdrop-blur-sm drop-shadow-sm
               shadow-lg  rounded-tl-lg rounded-bl-lg py-2;

        & > .mobileTocTitle {
            @apply flex items-center py-2 px-4 justify-between;
        }

        & > .mobileTocContent {
            @apply overflow-y-auto overflow-x-hidden max-h-96;
            direction: rtl;

            & > * {
                direction: ltr;
            }
        }
    }

    &.mobileToc-expanded {
        @apply translate-x-0;
    }

    &.mobileToc-collapsed {
        @apply translate-x-[calc(100%-1.5rem)];
    }
}

html[class='dark'] {
    .mobileTocMain {
        @apply bg-[rgba(24_24_27/0.9)];
    }
}
