// media-mobile
@mixin mb() {
  @media (max-width: 1023.9px) {
    @content;
  }
}

// meida-mb-ct
@mixin mb-ct() {
  @container (max-width: 1024.9px) {
    @content;
  }
}
// media-pc
@mixin pc() {
  @media (min-width: 1024px) {
    @content;
  }
  @container (min-width: 1024px) {
    @content;
  }
}

// @include res(font-size, 12, 20) ->
@mixin res($prop, $mobile: null, $pc: null) {
  $pcValue: if(math.is-unitless($pc), #{$pc}px, $pc);
  $mobileValue: if(unitless($mobile), vw($mobile), $mobile);
  $mobileContainerValue: if(unitless($mobile), #{$mobile}px, $mobile);

  @if (exists($pc)) {
    @include pc() {
      #{$prop}: $pcValue;
    }
  }

  @if (exists($mobile)) {
    @include mb-ct {
      #{$prop}: $mobileContainerValue;
    }
    @include mb() {
      #{$prop}: $mobileValue;
    }
  }
}
