/* src/app/(pages)/page.module.css */
@reference "#tailwind.css";

.block {
    @apply flex flex-col !flex-none w-full space-y-4 p-5 items-center justify-center 
       rounded-sm backdrop-blur-sm shadow-nysm shadow-neutral-800 duration-300
       text-lg  text-center  text-white bg-black/30 
       hover:shadow-nylg font-lxgw;
}

.list {
    @apply w-full;

    & .item {
        @apply rounded-md mb-8 flex flex-col
        duration-300 backdrop-blur-md
        drop-shadow-[5px_5px_5px_rgba(0,0,0,0.35)];

        &:last-child {
            @apply mb-0;
        }

        &:hover {
            &::before {
                @apply opacity-100;
            }

            & > .content {
                @apply bg-white/90 dark:bg-black/80;
            }
        }

        &::before {
            content: '';

            @apply opacity-0 rounded-md  overflow-hidden duration-300
            absolute top-0 left-0 w-full h-full bg-[image:var(--bg-img)]
            z-[-1] bg-center bg-cover;
            filter: blur(30px) opacity(70%) brightness(120%);
        }
    }
}
